# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/*/node_modules
/NextJs/.pnp
/NextJs/*.pnp.js
/NextJs/*.yarn/install-state.gz

# testing
/*/coverage
/*/coverage.json

# next.js
/NextJs/.next/
/NextJs/out/

# production
/NextJs/build

# misc
/NextJs/*.DS_Store
/NextJs*.pem

# debug
/NextJs/npm-debug.log*
/NextJs/yarn-debug.log*
/NextJs/yarn-error.log*

# vercel
/NextJs/*.vercel

# typescript
/NextJs/*.tsbuildinfo

/NextJs/.env.local


# Hardhat files
/Contracts/cache
/Contracts/artifacts

# TypeChain files
/Contracts/typechain
/Contracts/typechain-types

